<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>メッセージ一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>作成日</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <% @another_entries.each do |entry| %>
            <tr>
              <td><%= entry.created_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= link_to entry.user.name, room_path(entry.room) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>