<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>About</h4>
      <p>Gamers Spaceではユーザー登録すれば、</p>
      <p>ゲームを一緒にプレイできる仲間を募集でき、</p>
      <p>メッセージで交流することもできるサイトです。</p>
    </div>
  </div>
</div>