<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>ユーザー詳細</h2>
      <table class="table">
        <tbody>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>ステータス</th>
            <% if @user.is_active %>
              <td>有効</td>
            <% else %>
              <td>退会</td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <%= link_to '編集する', edit_admin_user_path(@user.id), class: 'btn btn-success' %>
    </div>
  </div>
</div>