<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>いいね一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>作成日</th>
            <th>タイトル</th>
            <th>ユーザー名</th>
          </tr>
        </thead>
        <tbody>
          <% @favorite_posts.each do |post| %>
          <tr>
            <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to post.title, post_path(post) %></td>
            <td><%= link_to post.user.name, user_path(post.user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>